body {
        height:100%;
        width:100%;
        margin:0px;
        padding:0px;
        background:#EEEEEE;
        color:#000;
        font:12px Helvetica, Verdana, sans-serif;
        margin:0;
        padding:0;
}

#title {
        padding:0px 0px 0px 10px;
        margin:0;
        display:block;
        height:60px;
}

#title h1 {
        display:block;
        padding:0;
        margin:0;
        text-indent:15px ;
        font:48px Helvetica, Verdana, sans-serif;
        color:#000000;
}

#pkg_title {
background:#DDDDDD none repeat scroll 0 0;
height:60px;
padding-left:10px;
padding-right:10px;
width:600px;
}

a {
color:#000000;
}

#pkg_title h2 {
-x-system-font:none;
color:#FF5F00;
font-family:Arial;
font-size:25px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:normal;
padding-top:15px;
text-align:left;
text-transform:uppercase;
}

#pkg_title h1 {
	display:block;
	padding:0;
        margin:0;
	text-indent:170px;
	font:48px Helvetica, Verdana, sans-serif;
	color:#F5F9FD;
}
#repocontent h2 {
        display:block;
        padding:0;
	text-indent:10px;
}
div#npackages {
	margin-top:15px;
	margin-left:10px;
        font:14px Helvetica, Verdana, sans-serif;
}
div#footer {
        margin-top:15px;
        margin-left:10px;
        font:11px Helvetica, Verdana, sans-serif;
}

#repocontent {
	margin-top:30px;
	padding:0 20px 20px;
}
li#letter {
	font:20px Helvetica, Verdana, sans-serif;
	text-transform: uppercase;
}
li#pkglist {
	list-style-type:none;
}
li#pkg {
	font:14px Helvetica, Verdana, sans-serif;
	list-style-type:square;
}
li#pkgver {
	font:16px Helvetica, Verdana, sans-serif;
}
li#pkginfo {
        font:14px Helvetica, Verdana, sans-serif;
        list-style-type:square;
}
li#suite {
        font:16px Helvetica, Verdana, sans-serif;
}
li#component {
        font:16px Helvetica, Verdana, sans-serif;
}
li#complist {
        list-style-type:none;
}
li#componentlist {
        font:14px Helvetica, Verdana, sans-serif;
        list-style-type:square;
}
ul#sourcelist li {
	font:14px Helvetica, Verdana, sans-serif;
        list-style-type:square;
}
p#gpgkey {
	margin-left:20px;
}
div#repoinfo, div#reposourceslist, div#repopackages, div.compo{
background:#DDDDDD none repeat scroll 0 0;
margin-bottom:10px;
padding:10px;
margin-right:10px;
}
